%header.content__title
  %h1 ALL BOOKINGS'S
.card
  .card-body
    .table-responsive.data-table
      %table#data-table.table
        %thead
          %tr
            %th First Name
            %th Last Name
            %th Email
            %th Action
        %tbody
          - @bookings.each do |booking|
            %tr
              %td
                = booking.first_name
              %td
                = booking.last_name
              %td
                = booking.email
              %td
                %button.btn.btn-theme-dark.btn--icon>
                  %i.zwicon-edit-square

                %button.btn.btn-theme-dark.btn--icon
                  %i.zwicon-user-delete

      = paginate @bookings
