%section.content
  %header.content__title
    %h1 Customers Messeges
  .card
    .toolbar.toolbar--alt.toolbar--inner
      .toolbar__nav
        %a.active{:href => "#"} You received 10 Messeges
      .actions
        %i.actions__item.zwicon-trash{"data-title" => "Delete All Messeges", "data-toggle" => "tooltip"}
        .dropdown.actions__item.d-none.d-md-flex{"data-title" => "Sort by", "data-toggle" => "tooltip"}
          %i.zwicon-filter-alt{"data-toggle" => "dropdown"}
          .dropdown-menu.dropdown-menu-right.dropdown-menu--active
            %a.dropdown-item{:href => "#"} Newest
            %a.dropdown-item{:href => "#"} Oldest
    .listview.listview--truncate.listview--bordered.issue-tracker
      .listview__item
        %img.avatar-img{:alt => "", :src => "/assets/user/img/contacts/user.svg"}/
        .listview__content
          %h4
            %a.text-body{:href => "#"}
              %span.text-light John Wick
              from
              %span.text-light Pune
              Wanted to visit your farm on
              %span.text-warning 22 Dec 2020
          %p
            %i.zwicon-clock
            19/11/2017 at 09:01
        .issue-tracker__item.d-none.d-lg-inline
          %i.zwicon-phone>
          9876543210
        .issue-tracker__item.d-none.d-sm-inline
          %i.zwicon-mail>
          john@gmail.com
        .issue-tracker__item.d-none.d-sm-inline
          %span.badge.badge-danger.cursor-pointer
            %i.zwicon-trash
            Delete
      .listview__item
        %img.avatar-img{:alt => "", :src => "/assets/user/img/contacts/user.svg"}/
        .listview__content
          %h4
            %a.text-body{:href => "#"}
              %span.text-light John Wick
              from
              %span.text-light Pune
              Wanted to visit your farm on
              %span.text-warning 22 Dec 2020
          %p
            %i.zwicon-clock
            19/11/2017 at 09:01
        .issue-tracker__item.d-none.d-lg-inline
          %i.zwicon-phone>
          9876543210
        .issue-tracker__item.d-none.d-sm-inline
          %i.zwicon-mail>
          john@gmail.com
        .issue-tracker__item.d-none.d-sm-inline
          %span.badge.badge-danger
            %i.zwicon-trash
            Delete
      .listview__item
        %img.avatar-img{:alt => "", :src => "/assets/user/img/contacts/user.svg"}/
        .listview__content
          %h4
            %a.text-body{:href => "#"}
              %span.text-light John Wick
              from
              %span.text-light Pune
              Wanted to visit your farm on
              %span.text-warning 22 Dec 2020
          %p
            %i.zwicon-clock
            19/11/2017 at 09:01
        .issue-tracker__item.d-none.d-lg-inline
          %i.zwicon-phone>
          9876543210
        .issue-tracker__item.d-none.d-sm-inline
          %i.zwicon-mail>
          john@gmail.com
        .issue-tracker__item.d-none.d-sm-inline
          %span.badge.badge-danger
            %i.zwicon-trash
            Delete
      .listview__item
        %img.avatar-img{:alt => "", :src => "/assets/user/img/contacts/user.svg"}/
        .listview__content
          %h4
            %a.text-body{:href => "#"}
              %span.text-light John Wick
              from
              %span.text-light Pune
              Wanted to visit your farm on
              %span.text-warning 22 Dec 2020
          %p
            %i.zwicon-clock
            19/11/2017 at 09:01
        .issue-tracker__item.d-none.d-lg-inline
          %i.zwicon-phone>
          9876543210
        .issue-tracker__item.d-none.d-sm-inline
          %i.zwicon-mail>
          john@gmail.com
        .issue-tracker__item.d-none.d-sm-inline
          %span.badge.badge-danger
            %i.zwicon-trash
            Delete
      .listview__item
        %img.avatar-img{:alt => "", :src => "/assets/user/img/contacts/user.svg"}/
        .listview__content
          %h4
            %a.text-body{:href => "#"}
              %span.text-light John Wick
              from
              %span.text-light Pune
              Wanted to visit your farm on
              %span.text-warning 22 Dec 2020
          %p
            %i.zwicon-clock
            19/11/2017 at 09:01
        .issue-tracker__item.d-none.d-lg-inline
          %i.zwicon-phone>
          9876543210
        .issue-tracker__item.d-none.d-sm-inline
          %i.zwicon-mail>
          john@gmail.com
        .issue-tracker__item.d-none.d-sm-inline
          %span.badge.badge-danger
            %i.zwicon-trash
            Delete
      .listview__item
        %img.avatar-img{:alt => "", :src => "/assets/user/img/contacts/user.svg"}/
        .listview__content
          %h4
            %a.text-body{:href => "#"}
              %span.text-light John Wick
              from
              %span.text-light Pune
              Wanted to visit your farm on
              %span.text-warning 22 Dec 2020
          %p
            %i.zwicon-clock
            19/11/2017 at 09:01
        .issue-tracker__item.d-none.d-lg-inline
          %i.zwicon-phone>
          9876543210
        .issue-tracker__item.d-none.d-sm-inline
          %i.zwicon-mail>
          john@gmail.com
        .issue-tracker__item.d-none.d-sm-inline
          %span.badge.badge-danger
            %i.zwicon-trash
            Delete
      .clearfix.m-4
  %nav
    %ul.pagination.justify-content-center
      %li.page-item.pagination-prev
        %a.page-link{:href => "#"}
          %i.zwicon-arrow-left
      %li.page-item.active
        %a.page-link{:href => "#"} 1
      %li.page-item
        %a.page-link{:href => "#"} 2
      %li.page-item
        %a.page-link{:href => "#"} 3
      %li.page-item
        %a.page-link{:href => "#"} 4
      %li.page-item
        %a.page-link{:href => "#"} 5
      %li.page-item
        %a.page-link{:href => "#"} 6
      %li.page-item.pagination-next
        %a.page-link{:href => "#"}
          %i.zwicon-arrow-right