.kt-portlet__head
  .kt-portlet__head-label
    .kt-portlet__head-title.alert.alert-solid-success.fade.show{role: "alert"}
      .alert-icon
        %i.flaticon-like
      .alert-text
        = notice
      .alert-close
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
          %span{"aria-hidden" => "true"}
            %i.la.la-close