.inner-banner.caf-inner-banner.d-flex
  %img.center-image{:alt => "", :src => "/assets/user/img/caf/testimonial-bg.jpg"}
  %div
    .container
      %h2.color-white
        = @farm.title

.main-wraper.padd-70-70
  .container
    %h4.gd-title.mb-20 Our Gallery
    = link_to 'Back To Farm', welcome_path(@farm), class: 'c-button b-40 bg-blue hv-blue-o-o grid-hidden'
    .filter-content.row.caf-filter-content
      .grid-sizer.col-mob-12.col-xs-6.col-sm-4.no-padding
      .item.tours.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_1.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.cruises.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_2.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.flights.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_3.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.hotels.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_4.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.tours.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_5.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.cruises.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_6.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.flights.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_7.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.hotels.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_8.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
