/ INNER-BANNER
.inner-banner.caf-inner-banner.d-flex
  %img.center-image{:alt => "", :src => "/assets/user/img/caf/testimonial-bg.jpg"}/
  %div
    .container
      %h2.color-white AGRICULTURE DEVELOPMENT TRUST
/ GALLERY-DETAIL
.main-wraper.padd-70-70
  .container
    .detail-header
      .row
        .col-xs-12.col-sm-8
          .detail-category.color-grey-3 Welcome to
          %h2.detail-title.color-dark-2 AGRICULTURE DEVELOPMENT TRUST
          .detail-rate.rate-wrap.clearfix
            .rate
              %span.fa.fa-star.color-yellow
              %span.fa.fa-star.color-yellow
              %span.fa.fa-star.color-yellow
              %span.fa.fa-star.color-yellow
              %span.fa.fa-star.color-yellow
            %i 485 Rewies
        .col-xs-12.col-sm-4
          .detail-price.color-dark-2
            price from
            %span.color-dr-blue $200
            \/person
    .gallery-detail
      .top-baner.arrows
        #tour-slide-2.swiper-container{"data-autoplay" => "0", "data-center" => "0", "data-loop" => "1", "data-slides-per-view" => "1", "data-speed" => "1000"}
          .swiper-wrapper
            .swiper-slide
              %img.img-responsive{:alt => "", :src => "/assets/user/img/gallery/slide_1.jpg"}/
            .swiper-slide
              %img.img-responsive{:alt => "", :src => "/assets/user/img/gallery/slide_1.jpg"}/
            .swiper-slide
              %img.img-responsive{:alt => "", :src => "/assets/user/img/gallery/slide_1.jpg"}/
            .swiper-slide
              %img.img-responsive{:alt => "", :src => "/assets/user/img/gallery/slide_1.jpg"}/
          .pagination.pagination-hidden.poin-style-1
        .arrow-wrapp.arr-s-1
          .cont-1170
            .swiper-arrow-left.sw-arrow
              %span.fa.fa-angle-left
            .swiper-arrow-right.sw-arrow
              %span.fa.fa-angle-right
      .row
        .col-xs-12.col-sm-8
          .gd-content
            %h4 About Our Farm
            %p Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        .col-xs-12.col-sm-4
          .contact-info
            %h4.color-dark-2
              %strong contact info
            .contact-line.color-grey-3
              %img{:alt => "", :src => "/assets/user/img/caf/user.svg", :width => "24px"}>/
              Owner:
              %span.color-dark-2.tt Mr. Prashant Shinde
            .contact-line.color-grey-3
              %img{:alt => "", :src => "/assets/user/img/phone_icon_2_dark.png"}>/
              Phone:
              %a.color-dark-2{:href => "tel:93123456789"} +93 123 456 789
            .contact-line.color-grey-3
              %img{:alt => "", :src => "/assets/user/img/mail_icon_b_dark.png"}>/
              Email us:
              %a.color-dark-2.tt{:href => "#"} let’s_travel@world.com
            .contact-line.color-grey-3
              %img{:alt => "", :src => "/assets/user/img/loc_icon_dark.png"}>/
              Address:
              %span.color-dark-2.tt Aenean vulputate porttitor
    .our-service.mb-60
      .row
        .icon-block-entry.col-xs-12.col-sm-6.col-md-3.clear-sm-2.clear-md-4
          .icon-block.style-5
            %img.icon-img{:alt => "", :src => "/assets/user/img/caf/bed.svg"}/
            %h5.icon-title.color-dark-2 50
            .icon-text.color-dark-2-light Number of Rooms
        .icon-block-entry.col-xs-12.col-sm-6.col-md-3.clear-sm-2.clear-md-4
          .icon-block.style-5
            %img.icon-img{:alt => "", :src => "/assets/user/img/caf/tent.svg"}/
            %h5.icon-title.color-dark-2 10
            .icon-text.color-dark-2-light Number Of Tents
        .icon-block-entry.col-xs-12.col-sm-6.col-md-3.clear-sm-2.clear-md-4
          .icon-block.style-5
            %img.icon-img{:alt => "", :src => "/assets/user/img/caf/dor.svg"}/
            %h5.icon-title.color-dark-2 5
            .icon-text.color-dark-2-light Dormitory
        .icon-block-entry.col-xs-12.col-sm-6.col-md-3.clear-sm-2.clear-md-4
          .icon-block.style-5
            %img.icon-img{:alt => "", :src => "/assets/user/img/caf/wifi.svg"}/
            %h5.icon-title.color-dark-2 24 Hours
            .icon-text.color-dark-2-light Wife Availability
    .more-details.mb-60
      .row
        .col-xs-12.col-sm-3
          .menu-block
            %h4 Details
            %ul
              %li
                %strong Nearest City:
                Pune 15KM
              %li
                %strong Farm Size:
                4.2 Acres
              %li
                %strong Farm Products:
                Fruits
              %li
                %strong Green House
        .col-xs-12.col-sm-3
          .menu-block
            %h4 Activities
            %ul
              %li
                %strong Nearest City:
                Pune 15KM
              %li
                %strong Farm Size:
                4.2 Acres
              %li
                %strong Farm Products:
                Fruits
              %li
                %strong Green House
        .col-xs-12.col-sm-3
          .menu-block
            %h4 Events
            %ul
              %li
                %strong Nearest City:
                Pune 15KM
              %li
                %strong Farm Size:
                4.2 Acres
              %li
                %strong Farm Products:
                Fruits
              %li
                %strong Green House
        .col-xs-12.col-sm-3
          .menu-block
            %h4 Sightseeing
            %ul
              %li
                %strong Nearest City:
                Pune 15KM
              %li
                %strong Farm Size:
                4.2 Acres
              %li
                %strong Farm Products:
                Fruits
              %li
                %strong Green House
    .farm-map.mb-40
      .row
        .col-xs-12.col-sm-12
          %h4 Our Location
        .col-xs-12.col-sm-12
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121092.6965672142!2d74.096151!3d18.47701!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x58656550b6ff4cd0!2sChaitanya%20Agro%20Farm!5e0!3m2!1sen!2sin!4v1579027251950!5m2!1sen!2sin", :style => "border:0;", :width => "100%"}
    %h4.gd-title.mb-20 Our Gallery
    .filter-content.row.caf-filter-content
      .grid-sizer.col-mob-12.col-xs-6.col-sm-4.no-padding
      .item.tours.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_1.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.cruises.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_2.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.flights.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_3.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.hotels.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_4.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.tours.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_5.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.cruises.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_6.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.flights.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_7.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      .item.hotels.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/gallery/g_gal_8.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b santorini
            %h5.color-white sea tours
      / View More
      .item.hotels.gal-item.style-2.col-mob-12.col-xs-6.col-sm-4.no-padding.material
        %a.black-hover{:href => "gallery_detail.html"}
          %img.img-full.img-responsive{:alt => "", :src => "/assets/user/img/caf/view_more.jpg"}/
          .tour-layer.delay-1
          .vertical-align
            %h3.color-white
              %b Gallery
            %h5.color-white View More
