%section.content
  %header.content__title
    %h1 Form Location
  .card
    .card-body
      %h4.card-title Add/Update Farm Location
      %h6.card-subtitle
        Copy and paste URL here from
        %code Google Maps
      = form_for @farm, url: farm_location_path(@farm), html: { method: :patch } do |f|
        .form-group
          %label Enter Name
          = f.text_field :map_iframe, placeholder: "https://www.google.com/maps/embed?pb=.....", class: 'form-control'
        %button.btn.btn-success{type: "submit"}
          %i.zwicon-my-location
          Update Location

  .card
    .card-body
      %h4.card-title Farm Location
      %h6.card-subtitle
        Search your location by typing in the text box. Select your location from dropdown. Verify your location and click
        %code Add Location.
      .row
        .col-12
          .form-group
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "350", :src => "#{@farm.map_iframe}", :style => "border:0;", :width => "100%"}
