= form_for @farm, url: farm_image_path(@farm), html: { method: :patch }, id: 'dropzone-upload' do |f|

  %section.content
    %header.content__title
      %h1 Farm Images
    .card
      .card-body
        %h4.card-title Drag and drop file upload
        %h6.card-subtitle Upload images.
        .row
          .col
            .form-group
              = f.file_field :images, multiple: true, required: true, class: 'form-control'

        %button.btn.btn-success{type: "submit"} Upload Images

    .card
      .card-body
        - if @farm.images.attached?
          %h4.card-title Banner Image
          .photos__inner
            .row.lightbox
              - @farm.images.each do |image|
                .col-md-3.col-4
                  .lightbox__item.photos__item
                    = image_tag image.variant(resize: "180x180")

            %a.view-more.pb-0{:href => "#"} View More Photos

        - else
          %h4.card-title No Images Uploaded