%footer.type-2.bg-dark-2.caf-footer-outer
  .container
    .row
      .col-lg-4.col-md-4.col-sm-6.clear-sm-2.clear-md-0
        .footer-block
          %h6 contact us
          .f_contact
            %p.color-white
              Phone:
              %a.color-grey-7.link-sea{href: "tel:93123456789"} +93 123 456 789
            %p.color-white
              Email us:
              %a.color-grey-7.link-sea{href: "mailto:let’s_travel@world.com"} let’s_travel@world.com
            %p.color-white
              Address:
              %span.color-grey-7 Aenean vulputate porttitor
      .col-lg-4.col-md-4.col-sm-6.clear-sm-2.clear-md-0
        .footer-block.first
          %iframe{allowfullscreen: "", frameborder: "0", height: "175", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30273.260475249062!2d74.099069!3d18.476521!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x58656550b6ff4cd0!2sChaitanya%20Agro%20Farm!5e0!3m2!1sen!2sin!4v1578830163297!5m2!1sen!2sin", style: "border:0;", width: "100%"}
      .col-lg-4.col-md-4.col-sm-6.clear-sm-2.clear-md-0
        .footer-block.no-separ
          %h6 follow us:
          %ul.footer-folow
            %li.color-fb
              %a{href: "#"}
                %i.fa.fa-facebook>
                facebook
                %span.color-fb-2 12
            %li.color-tw
              %a{href: "#"}
                %i.fa.fa-twitter>
                twitter
                %span.color-tw-2 27
            %li.color-gg
              %a{href: "#"}
                %i.fa.fa-google-plus>
                google +
                %span.color-gg-2 51
  .footer-link.bg-black
    .container
      .row
        .col-md-12
          / <a class="f_logo" href="#"><img src="img/home_9/caf.png" alt=""></a>
          .copyright
            %span.color-grey-7 © 2015 All rights reserved. Chaitanya Agro Tourism