#kt_footer.kt-footer.kt-footer--extended.kt-grid__item{style: "background-image: url('/assets/user/media/bg/bg-2.jpg');"}
  .kt-footer__top
    .kt-container
      .row
        .col-lg-4
          .kt-footer__section
            %h3.kt-footer__title About
            .kt-footer__content
              Lorem Ipsum is simply dummy text of the printing
              %br/
              and typesetting and typesetting industry has been the
              %br/
              industry's standard dummy text ever since the 1500s,
              %br/
              when an unknown printer took a galley of type.
        .col-lg-4
          .kt-footer__section
            %h3.kt-footer__title Quick Links
            .kt-footer__content
              .kt-footer__nav
                .kt-footer__nav-section
                  %a{href: "#"} General Reports
                  %a{href: "#"} Dashboart Widgets
                  %a{href: "#"} Custom Pages
                .kt-footer__nav-section
                  %a{href: "#"} User Setting
                  %a{href: "#"} Custom Pages
                  %a{href: "#"} Intranet Settings
        .col-lg-4
          .kt-footer__section
            %h3.kt-footer__title Get In Touch
            .kt-footer__content
              %form.kt-footer__subscribe{action: "#"}
                .input-group
                  %input.form-control{placeholder: "Enter Your Email", type: "text"}/
                  .input-group-append
                    %button.btn.btn-brand{type: "button"} Join
  .kt-footer__bottom
    .kt-container
      .kt-footer__wrapper
        .kt-footer__logo
          %a.kt-header__brand-logo{href: "index8aa8.html?page=index&demo=demo2"}
            %img.kt-header__brand-logo-sticky{alt: "Logo", src: "/assets/user/media/logos/gp_2.png", height: '22px'}/
          .kt-footer__copyright
            2019 © 
            %a{href: "#", target: "_blank"} Hoteloite
        .kt-footer__menu
          %a{href: "http://keenthemes.com/metronic", target: "_blank"} Purchase Lisence
          %a{href: "http://keenthemes.com/metronic", target: "_blank"} Team
          %a{href: "http://keenthemes.com/metronic", target: "_blank"} Contact
