#kt_subheader.kt-subheader.kt-grid__item
  / .kt-subheader__main
  /   %h3.kt-subheader__title Dashboard
  /   .kt-subheader__breadcrumbs
  /     %a.kt-subheader__breadcrumbs-home{:href => "#"}
  /       %i.flaticon2-shelter
  /     %span.kt-subheader__breadcrumbs-separator
  /     %a.kt-subheader__breadcrumbs-link{:href => "#"}
  /       Dashboard
  /     %span.kt-subheader__breadcrumbs-separator
  /     %a.kt-subheader__breadcrumbs-link{:href => "#"}
  /       Default Dashboard
  / .kt-subheader__toolbar
  /   .kt-subheader__wrapper
  /     %a.btn.kt-subheader__btn-secondary{:href => "#"}
  /       Reports
  /     .dropdown.dropdown-inline{"data-placement" => "top", "data-toggle" => "kt-tooltip", :title => "Quick actions"}
  /       %a.btn.btn-danger.kt-subheader__btn-options{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
  /         Products
  /       .dropdown-menu.dropdown-menu-right
  /         %a.dropdown-item{:href => "#"}
  /           %i.la.la-plus
  /           New Product
  /         %a.dropdown-item{:href => "#"}
  /           %i.la.la-user
  /           New Order
  /         %a.dropdown-item{:href => "#"}
  /           %i.la.la-cloud-download
  /           New Download
  /         .dropdown-divider
  /         %a.dropdown-item{:href => "#"}
  /           %i.la.la-cog
  /           Settings
