/ #kt_footer.kt-footer.kt-grid__item.kt-grid.kt-grid--desktop.kt-grid--ver-desktop
/   .kt-footer__copyright
/     2019 © 
/     %a.kt-link{href: "#", target: "_blank"} Hoteloite
/   .kt-footer__menu
/     %a.kt-footer__menu-link.kt-link{href: "http://keenthemes.com/metronic", target: "_blank"} About
/     %a.kt-footer__menu-link.kt-link{href: "http://keenthemes.com/metronic", target: "_blank"} Team
/     %a.kt-footer__menu-link.kt-link{href: "http://keenthemes.com/metronic", target: "_blank"} Contact
%footer.footer
  Copyright © 2019 Hoteloite Admin
  %nav.footer__menu
    %a{href: "#"} Home
    %a{href: "#"} Dashboard
    %a{href: "#"} Reports
    %a{href: "#"} Support
    %a{href: "#"} Contact