%header.header
  .header__main
    %i.navigation-toggle.zwicon-hamburger-menu.d-xl-none
    .logo.d-none.d-md-block
      %a{href: "index.html"}
        Chaitanya
        %small Agro Farm

    .card
      .card-header
        %h5.text-warning.mb-0 Chaitanya Agro Farm
    %ul.top-nav
      %li.d-xl-none
        %a.top-nav__search{:href => "#"}
          %i.zwicon-search
    .user.dropdown
      %a.d-block{"data-toggle" => "dropdown", href: "#"}
        %img.user__img{alt: "", src: "demo/img/caf_img/admin.jpg"}
      .dropdown-menu.dropdown-menu-right
        .dropdown-header Hello Prashant..!
        %a.dropdown-item{href: "profile-about.html"}
          %i.zmdi.zmdi-account
          View Profile
        %a.dropdown-item{href: "#"}
          %i.zmdi.zmdi-input-antenna
          Privacy Settings
        %a.dropdown-item{href: "#"}
          %i.zmdi.zmdi-settings
          Settings
        = link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'dropdown-item'
  .toggles.d-none.d-xl-block
    %a.toggles__notify{"data-notification" => "#notifications-messages", href: "#"}
      %i.zwicon-mail
    %a{"data-notification" => "#notifications-alerts", href: "#"}
      %i.zwicon-bell
    %a{"data-notification" => "#notifications-tasks", href: "#"}
      %i.zwicon-task