#kt_header_mobile.kt-header-mobile.kt-header-mobile--fixed
  .kt-header-mobile__logo
    %a{href: "index.html"}
      %img{alt: "Logo", src: "/assets/user/media/logos/gp_2.png", height: '22px'}/
  .kt-header-mobile__toolbar
    %button#kt_aside_mobile_toggler.kt-header-mobile__toggler.kt-header-mobile__toggler--left
      %span
    %button#kt_header_mobile_toggler.kt-header-mobile__toggler
      %span
    %button#kt_header_mobile_topbar_toggler.kt-header-mobile__topbar-toggler
      %i.flaticon-more
