%aside.sidebar.navigation
  .scrollbar
    %ul.navigation__menu
      %li
        %a.text-active-blue{href: "/admin/dashboard", class: @breadcrumb[:dashboard]}
          %i.zwicon-home.text-blue>
          Dashboard
      %li
        %a.text-active-red{href: "/admin/users", class: @breadcrumb[:users]}
          %i.zwicon-users
          Users List
      %li
        %a.text-active-green{href: "/admin/users/new", class: @breadcrumb[:users]}
          %i.zwicon-user-plus.text-green
          Add User
      %li
        %a.text-active-yellow{href: "/admin/bookings", class: @breadcrumb[:bookings]}
          %i.zwicon-task.text-yellow
          Bookings
      %li.navigation__sub
        %a.text-active-blue{"data-mae-action" => "submenu-toggle", href: "#", class: @breadcrumb[:testimonials]}
          %i.zwicon-mail.text-purple
          Testimonials
        %ul
          %li
            = link_to 'List', admin_testimonials_path
          %li
            = link_to 'Add New', new_admin_testimonial_path
      %li
        %a
          = button_to "Logout", destroy_admin_session_path, method: "delete", class: "btn btn-danger"