#kt_aside_menu_wrapper.kt-aside-menu-wrapper.kt-grid__item.kt-grid__item--fluid
  #kt_aside_menu.kt-aside-menu{"data-ktmenu-dropdown-timeout" => "500", "data-ktmenu-scroll" => "1", "data-ktmenu-vertical" => "1"}
    %ul.kt-menu__nav
      %li.kt-menu__item.kt-menu__item--submenu.section-click{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "hover"}
        %a.kt-menu__link.kt-menu__toggle.add-scroll-effect-docs{href: "#introduction", "data-turbolinks" => "false"}
          %span.kt-menu__link-icon
            %svg.kt-svg-icon{height: "24px", version: "1.1", viewbox: "0 0 24 24", width: "24px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %g{fill: "none", "fill-rule" => "evenodd", stroke: "none", "stroke-width" => "1"}
                %rect#bound{height: "24", width: "24", x: "0", y: "0"}
                %rect#Rectangle-7{fill: "#000000", height: "7", rx: "1.5", width: "7", x: "4", y: "4"}
                %path#Combined-Shape{d: "M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z", fill: "#000000", opacity: "0.3"}
          %span.kt-menu__link-text Introduction
      %li.kt-menu__item.kt-menu__item--submenu.section-click{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "hover"}
        %a.kt-menu__link.kt-menu__toggle.add-scroll-effect-docs{href: "#authentication", "data-turbolinks" => "false"}
          %span.kt-menu__link-icon
            %svg.kt-svg-icon{height: "24px", version: "1.1", viewbox: "0 0 24 24", width: "24px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %g{fill: "none", "fill-rule" => "evenodd", stroke: "none", "stroke-width" => "1"}
                %rect#bound{height: "24", width: "24", x: "0", y: "0"}
                %rect#Rectangle-7{fill: "#000000", height: "7", rx: "1.5", width: "7", x: "4", y: "4"}
                %path#Combined-Shape{d: "M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z", fill: "#000000", opacity: "0.3"}
          %span.kt-menu__link-text Authentication
      %li.kt-menu__item.kt-menu__item--submenu.parent-sub-menu-element{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "hover"}
        %a.kt-menu__link.kt-menu__toggle
          %span.kt-menu__link-icon
            %svg.kt-svg-icon{height: "24px", version: "1.1", viewbox: "0 0 24 24", width: "24px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %g{fill: "none", "fill-rule" => "evenodd", stroke: "none", "stroke-width" => "1"}
                %rect#bound{height: "24", width: "24", x: "0", y: "0"}
                %rect#Rectangle-7{fill: "#000000", height: "7", rx: "1.5", width: "7", x: "4", y: "4"}
                %path#Combined-Shape{d: "M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z", fill: "#000000", opacity: "0.3"}
          %span.kt-menu__link-text Matches
          %i.kt-menu__ver-arrow.la.la-angle-right
        .kt-menu__submenu
          %span.kt-menu__arrow
          %ul.kt-menu__subnav
            %li.kt-menu__item.kt-menu__item--parent{"aria-haspopup" => "true"}
              %span.kt-menu__link
                %span.kt-menu__link-text Matches
            %li.kt-menu__item.kt-menu__item--submenu.section-click{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "hover"}
              %a.kt-menu__link.kt-menu__toggle.add-scroll-effect-docs{href: "#matches_index", "data-turbolinks" => "false"}
                %i.kt-menu__link-bullet.kt-menu__link-bullet--line
                  %span
                %span.kt-menu__link-text All Matches
            %li.kt-menu__item.kt-menu__item--submenu.section-click{"aria-haspopup" => "true", "data-ktmenu-submenu-toggle" => "hover"}
              %a.kt-menu__link.kt-menu__toggle.add-scroll-effect-docs{href: "#matches_show", "data-turbolinks" => "false"}
                %i.kt-menu__link-bullet.kt-menu__link-bullet--line
                  %span
                %span.kt-menu__link-text Match Details
