%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    %meta{content: "telephone=no", name: "format-detection"}
    %link{href: "favicon.ico", rel: "shortcut icon"}
    %link{href: "/assets/user/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/css/jquery-ui.structure.min.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/css/jquery-ui.min.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/fonts/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "/assets/user/css/style.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/css/custom.css", rel: "stylesheet", type: "text/css"}
    %title Let's Travel
  %body{"data-color" => "theme-4"}
    / LOADER
    .loading.dr-blue-2
      .loading-center
        .loading-center-absolute
          .object.object_four
          .object.object_three
          .object.object_two
          .object.object_one
    %img.center-image{alt: "", src: "/assets/user/img/caf/farm.jpg"}

    = yield

    %script{src: "/assets/user/js/jquery-2.1.4.min.js"}
    %script{src: "/assets/user/js/bootstrap.min.js"}
    %script{src: "/assets/user/js/jquery-ui.min.js"}
    %script{src: "/assets/user/js/idangerous.swiper.min.js"}
    %script{src: "/assets/user/js/jquery.viewportchecker.min.js"}
    %script{src: "/assets/user/js/isotope.pkgd.min.js"}
    %script{src: "/assets/user/js/jquery.mousewheel.min.js"}
    %script{src: "/assets/user/js/jquery.circliful.min.js"}
    %script{src: "/assets/user/js/all.js"}
